/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2018, 10:02:56 PM
    Author     : MrAkisP
*/

$white: #fff;
$primary-color: #2c3e50;
$green: #18bc9c;
$bold:700;
$regular:400;
$light:300;
$gray: #777777;
$black: #070707;
$aqua: #3FB6A8;