/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2018, 10:02:56 PM
    Author     : MrAkisP
*/

.most-related__articles {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    & > article{
        width: 400px;
        margin:10px;
        display: flex;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
        border: 1px solid rgba(0,0,0,.125);
    }
   
}

.article {
    
    &_container {
        padding: 20px;
    }
    
    &_image img {
        width: 170px;
    }
    
}
