/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2018, 10:02:56 PM
    Author     : MrAkisP
*/


.owl-stage, .owl-item {
    display: flex;
}
.owl-nav {
    text-align: center;
}

section#top-rated h6, section#top-rated h2 {
    text-align: center!important;
}

.owl-carousel{

    overflow: hidden;
    min-height: 499px;
    & .owl-stage-outer {
        overflow: visible!important;
    }
    & article {
        display: flex;
    }

    & .owl-nav button.owl-next, & .owl-nav button.owl-prev, & button.owl-dot {
        font-size: 40px!important;
        margin: 0 44px!important;
    }
    & .article_container, & .article_image {
        z-index: 999;
        background: #fff;
    }
}
